body {
  background-color: black;
  color: white;
}

.button {
  border-color: white;
  background-color: black;
  color: white;
  font-size: large;
  border: solid 0.01em;
  padding: 2em;
}

#words {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12em;
}

#time {
  text-align: center;
  display: none;
}

#startButton {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 60%;
  text-align: center;
  font-size: 1.5em;
}

#toggleTimeDisplay {
  position: absolute;
  left: 80%;
  top: 80%;
  width: 20%;
  height: 20%;
  outline: none;
  border-color: black;
}
